---
import Guy from "../components/Guy.astro";
import Section from "../components/Section.astro";
import SectionsContainer from "../components/SectionsContainer.astro";
import Title from "../components/Title.astro";
import SousTitre from "../components/SousTitre.astro";
import Text from "../components/Text.astro";
import Layout from "../Layout.astro";
import Cloud from "../components/Cloud.astro";

import SectionApropos from "../sections/apropos.astro";
import SectionSkills from "../sections/skills.astro";
import SectionParcours from "../sections/parcours.astro";

import SectionPingPong from "../sections/pingpong.astro";
import SectionBallPit from "../sections/ballpit.astro";
---

<Layout>
    <Guy shape="square" color="green" id="top-guy-1" />
    <Guy shape="circle" color="orange" id="top-guy-2" />
    <SectionsContainer>
        <SectionApropos />
    </SectionsContainer>
    <SectionsContainer>
        <SectionPingPong />
    </SectionsContainer>
    <SectionsContainer>
        <SectionSkills />
    </SectionsContainer>
    <!-- <SectionsContainer>
        <SectionBallPit />
    </SectionsContainer> -->
    <SectionsContainer>
        <SectionParcours />
        <Section style="text-align: left;">
            <Title>Projets</Title>
            <SousTitre>Projets BTS SIO</SousTitre>
            <Text>
                <li> 2025 : GSH Social</li> C'est un réseau social complet, avec messagerie instantanée, posts, profils personnalisables et tant d'autres fonctionnalités.<br><br>
                <li> 2023 : SIO Chat</li> Il s'agit d'une messagerie instantanée en JavaScript<br><br>
                <SousTitre>Projets Isart</SousTitre>
                <li> 2025 : Jeu de cartes</li> C'est un autre jeu réalisé en équipe de 10 personnes, où l'on doit choisir des cartes d'équipements après chaque combat, et survivre.<br><br>
                <li> 2025 : Platformer</li> Mon plus gros projet. C'est un jeu de type parcours, avec tout un tas d'obstacles. Nous étions 12 sur ce projet, entre programmeurs, graphistes et sound designers.<br><br>
                <li> 2024 : Sokoban</li> Il s'agit d'un jeu de puzzle réalisé en équipe de 5.<br><br>
                <li> 2023 : Shmup</li> Mon premier jeu scolaire, des vagues d'ennemis apparaissent, il faut tous les éliminer.<br><br>
            </Text>
        </Section>
    </SectionsContainer>
    <SectionsContainer>
        <Section class="bgs-container">
            <SousTitre>Projets personnels</SousTitre>
            <Text>
                <li> 2022 : RokaBot</li> Un bot Discord, servant à automatiser certaines tâches sur des serveurs.<br><br>
                <li> 2021 : Uno</li> Une virtualisation du jeu de société, avec multijoueur intégré et/ou IA adverses.<br><br>
                <li> 2020 : BurgerSnake</li> Une version améliorée du célèbre Snake.<br><br>
            </Text>
            <div class="" id="bgs">
                <Guy scale=".3" color="red" shape="square" />
                <Guy scale=".3" color="orange" shape="square" />
                <Guy scale=".3" color="yellow" shape="square" />
                <Guy scale=".3" color="green" shape="square" />
                <Guy scale=".3" color="blue" shape="square" />
                <Guy scale=".3" color="purple" shape="square" />
            </div>
        </Section>
    </SectionsContainer>
    <SectionsContainer>
        <Section>
            <Title>Contact</Title>
            <Text>
                • E-mail : <a style = "color: black" href = "mailto:brian.baur.pro@gmail.com">brian.baur.pro@gmail.com</a><br>
                • LinkedIn : <a style = "color: black" href="https://www.linkedin.com/in/brian-baur-aaa53a252/">https://www.linkedin.com/in/brian-baur-aaa53a252/</a><br>
                • GitHub : <a style = "color: black" href="https://github.com/Rokacahuete/">https://github.com/Rokacahuete/</a><br>
            </Text>
        </Section>
    </SectionsContainer>
</Layout>

<!-- Top guys -->
<style>
    :global(#top-guy-1) {
        left: 20%;
        position: fixed;
        pointer-events: none;
    }

    :global(#top-guy-2) {
        left: calc(80% - 150px);
        position: fixed;
        pointer-events: none;
    }
    
    @media (max-width: 510px) {
        :global(#top-guy-1) {
            left: calc(50% - 75px);
            pointer-events: none;
        }

        :global(#top-guy-2) {
            display: none;
        }
    }
</style>

<!-- Snake -->
<style>
    :global(.page .bgs-container) {
        padding: 50px;
    }

    @keyframes bgs-move {
        0%   { top: calc(-25% + 30px); left: 0%; }
        25%  { top: calc(-25% + 30px); left: calc(100% - 150px); }
        50%  { top: calc(50% + 30px); left: calc(100% - 150px); }
        75%  { top: calc(50% + 30px); left: 0%; }
        100% { top: calc(-25% + 30px); left: 0%;}
    }
    :global(.bgs-container .guy-wrapper) {
        position: absolute;
        top: 0;
        left: 0;
        animation: bgs-move 8s linear infinite;
    }
</style>

<script>
    const guys = document.getElementById("bgs")?.querySelectorAll<HTMLElement>(".guy-wrapper") ?? [];
    for (let i = 0; i < guys.length; i++) {
        guys[i].style.animationDelay = `-${8 - i * .35}s`;
    }
</script>