---
import Guy from "../components/Guy.astro";
import Section from "../components/Section.astro";
import Layout from "../Layout.astro";
---

<Layout>
	<Section title="A Propos">
        <h2 id = "sss">Qui suis-je ?</h2>
        <div>
            Je suis un étudiant en deuxième année de BTS SIO, option SLAM, passionné par le développement web et la conception d'applications. J'aime imaginer, structurer et coder des projets qui résolvent de vrais problèmes.
            Mon objectif est de continuer à concevoir et réaliser tout un tas d'applications fonctionnant entre elles, et de créer un réel écosystème.
        </div>
        <Guy color="yellow" shape="square" />
        <Guy color="red" shape="circle" />
        <Guy color="blue" shape="capsule" />
        <Guy color="green" shape="rectangle" />
    </Section>
</Layout>