---
import Guy from "../components/Guy.astro";
import Section from "../components/Section.astro";
import SectionsContainer from "../components/SectionsContainer.astro";
import Title from "../components/Title.astro";
import SousTitre from "../components/SousTitre.astro";
import Text from "../components/Text.astro";
import Layout from "../Layout.astro";
import Cloud from "../components/Cloud.astro";
---

<Layout>
    <Guy shape="square" color="green" id="top-guy-1" />
    <Guy shape="circle" color="orange" id="top-guy-2" />
    <SectionsContainer>
        <Section>
            <Title>A Propos de moi</Title>
            <SousTitre>Qui suis-je ?</SousTitre>
            <Text>
                Bonjour. Je suis Brian.<br>
                Je suis passionné par la programmation, depuis maintenant plusieurs années. J'aime imaginer et structurer des projets qui résolvent de vrais problèmes... ou pas, tant que je peux me chalenger !<br>
                Je vous invite, via ce présent portfolio, à découvrir mon parcours, mon univers, et qui je suis.<br>
            </Text>
        </Section>
    </SectionsContainer>
    <SectionsContainer>
        <Section>
            <div class="ping-pong">
                <Guy shape="capsule" size="300px" color="blue" target="ball" id="player-1" />
                <Guy shape="circle" color="yellow" scale=".2" id="ball" />
                <Guy shape="capsule" size="300px" color="red" target="ball" id="player-2" />
            </div>
        </Section>
    </SectionsContainer>
    <SectionsContainer>
        <Section>
            <Title>Mes competences</Title>
            <SousTitre>Langages de programmation</SousTitre>
            <div class="langages-container">
                <Cloud color="#3776AB" textcolor="white">Python</Cloud>
                <Cloud color="#007396" textcolor="white">Java</Cloud>
                <Cloud color="#F7DF1E" textcolor="black">JavaScript</Cloud>
                <Cloud color="#E34F26" textcolor="white">HTML</Cloud>
                <Cloud color="#1572B6" textcolor="white">CSS</Cloud>
                <Cloud color="#777BB4" textcolor="white">PHP</Cloud>
                <Cloud color="#512BD4" textcolor="white">C#</Cloud>
                <Cloud color="#00599C" textcolor="white">C++</Cloud>
                <Cloud color="#000000" textcolor="#00FF00">Brainfuck</Cloud>
                <Cloud color="#4EAA25" textcolor="white">Bash</Cloud>
                <Cloud color="#012456" textcolor="white">PowerShell</Cloud>
                <Cloud color="#42B883" textcolor="white">Vue</Cloud>
                <Cloud color="#4479A1" textcolor="white">SQL</Cloud>
            </div>
        </Section>
    </SectionsContainer>
    <SectionsContainer>
        <Section>
            <div class="bp-container" id="bp-container">
                { Array.from({ length: 100 }).map(() => (<Guy color="red" scale=".2" />)) }
            </div>
        </Section>
    </SectionsContainer>
    <SectionsContainer>
        <Section style="text-align: left;">
            <Title>Parcours</Title>
            <SousTitre>Mon parcours</SousTitre>
            <Text>
                <li> 2025-2026 : 2e année de BTS SIO au Lycée Geoffroy Saint-Hilaire d'Étampes</li>
                Après une pause de deux ans, j'ai ressenti le besoin de finir mon apprentissage dans le développement web. L'expérience acquise à Isart m'a permis d'encore plus apprécier ce que je fais dans ce BTS.<br><br>
                <li> 2023-2025 : Game Design & Programming à Isart DIGITAL à Paris</li>
                Deux ans. C'est le temps passé à Isart. J'y ai beaucoup appris, de part les projets orientés jeux vidéo, à comprendre l'utilisateur, et à lui faire comprendre l'objectif d'une application. Je pense qu'il s'agit de la meilleure expérience pour réaliser les meilleures applications.<br><br>
                <li> 2022-2023 : 1ere année de BTS SIO dans le même lycée</li>
                En sortant du Bac, je savais que je voulais faire de la programmation. En attendant de pouvoir suivre la formation de mes rêves, le BTS SIO était la voie la plus évidente pour continuer ma passion.<br><br>
                <li> 2022 : Bac général, options Maths et NSI</li>
                S'il y a bien une étape importante dans ma vie, c'est le Bac, en particulier l'option NSI. C'est ici que j'ai découvert la programmation, et depuis, je ne peux plus m'en passer.<br><br>
                <li> Stages et expériences :</li>
                - 2025 : Brasserie Morel &gt; Réalisation d'un site web en HTML / CSS / JS<br>
                - 2023 : O Fil Des Sens & MDA &gt; Réalisation de deux sites internet avec WordPress<br><br>
            </Text>
        </Section>
        <Section style="text-align: left;">
            <Title>Projets</Title>
            <SousTitre>Projets BTS SIO</SousTitre>
            <Text>
                <li> 2025 : GSH Social</li> C'est un réseau social complet, avec messagerie instantanée, posts, profils personnalisables et tant d'autres fonctionnalités.<br><br>
                <li> 2023 : SIO Chat</li> Il s'agit d'une messagerie instantanée en JavaScript<br><br>
                <SousTitre>Projets Isart</SousTitre>
                <li> 2025 : Jeu de cartes</li> C'est un autre jeu réalisé en équipe de 10 personnes, où l'on doit choisir des cartes d'équipements après chaque combat, et survivre.<br><br>
                <li> 2025 : Platformer</li> Mon plus gros projet. C'est un jeu de type parcours, avec tout un tas d'obstacles. Nous étions 12 sur ce projet, entre programmeurs, graphistes et sound designers.<br><br>
                <li> 2024 : Sokoban</li> Il s'agit d'un jeu de puzzle réalisé en équipe de 5.<br><br>
                <li> 2023 : Shmup</li> Mon premier jeu scolaire, des vagues d'ennemis apparaissent, il faut tous les éliminer.<br><br>
            </Text>
        </Section>
    </SectionsContainer>
    <SectionsContainer>
        <Section class="bgs-container">
            <SousTitre>Projets personnels</SousTitre>
            <Text>
                <li> 2022 : RokaBot</li> Un bot Discord, servant à automatiser certaines tâches sur des serveurs.<br><br>
                <li> 2021 : Uno</li> Une virtualisation du jeu de société, avec multijoueur intégré et/ou IA adverses.<br><br>
                <li> 2020 : BurgerSnake</li> Une version améliorée du célèbre Snake.<br><br>
            </Text>
            <div class="" id="bgs">
                <Guy scale=".3" color="red" shape="square" />
                <Guy scale=".3" color="orange" shape="square" />
                <Guy scale=".3" color="yellow" shape="square" />
                <Guy scale=".3" color="green" shape="square" />
                <Guy scale=".3" color="blue" shape="square" />
                <Guy scale=".3" color="purple" shape="square" />
            </div>
        </Section>
    </SectionsContainer>
    <SectionsContainer>
        <Section>
            <Title>Contact</Title>
            <Text>
                • E-mail : <a style = "color: black" href = "mailto:brian.baur.pro@gmail.com">brian.baur.pro@gmail.com</a><br>
                • LinkedIn : <a style = "color: black" href="https://www.linkedin.com/in/brian-baur-aaa53a252/">https://www.linkedin.com/in/brian-baur-aaa53a252/</a><br>
                • GitHub : <a style = "color: black" href="https://github.com/Rokacahuete/">https://github.com/Rokacahuete/</a><br>
            </Text>
        </Section>
    </SectionsContainer>
</Layout>

<!-- Top guys -->
<style>
    :global(#top-guy-1) {
        left: 20%;
        position: fixed;
        pointer-events: none;
    }

    :global(#top-guy-2) {
        left: calc(80% - 150px);
        position: fixed;
        pointer-events: none;
    }
    
    @media (max-width: 510px) {
        :global(#top-guy-1) {
            left: calc(50% - 75px);
            pointer-events: none;
        }

        :global(#top-guy-2) {
            display: none;
        }
    }
</style>

<!-- Ping Pong -->
<style>
    .ping-pong {
        position: relative;
        width: 100%;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.521);
        margin-block: 50px 75px;
        border: 2px solid var(--border-color);
    }

    @keyframes ball-x {
        from { left: 64px; }
        to   { left: calc(100% - 225px); }
    }
    @keyframes ball-y {
        from { top: -82px; }
        to   { top: 188px; }
    }
    :global(.ping-pong #ball) {
        left: calc(50% - 93px);
        top: 0;
        
        animation: ball-y 1.5s linear infinite alternate, ball-x 3.4677138s linear infinite alternate;
    }

    @keyframes player-y {
        from { top: -90px; }
        to   { top: -10px; }
    }
    :global(.ping-pong #player-1) {
        left: 0;

        animation: player-y 2s linear infinite alternate;
        animation-delay: .5s;
    }

    :global(.ping-pong #player-2) {
        left: calc(100% - 135px);

        animation: player-y 2s linear infinite alternate;
        animation-delay: 2.5s;
    }
</style>

<!-- Skills -->
<style>
    .langages-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
        margin-top: 35px;
        justify-content: center;
        gap: 20px
    }
</style>

<!-- Snake -->
<style>
    :global(.page .bgs-container) {
        padding: 50px;
    }

    @keyframes bgs-move {
        0%   { top: calc(-25% + 30px); left: 0%; }
        25%  { top: calc(-25% + 30px); left: calc(100% - 150px); }
        50%  { top: calc(50% + 30px); left: calc(100% - 150px); }
        75%  { top: calc(50% + 30px); left: 0%; }
        100% { top: calc(-25% + 30px); left: 0%;}
    }
    :global(.bgs-container .guy-wrapper) {
        position: absolute;
        top: 0;
        left: 0;
        animation: bgs-move 8s linear infinite;
    }
</style>

<script>
    const guys = document.getElementById("bgs")?.querySelectorAll<HTMLElement>(".guy-wrapper") ?? [];
    for (let i = 0; i < guys.length; i++) {
        guys[i].style.animationDelay = `-${8 - i * .35}s`;
    }
</script>

<!-- Ball pit -->
<style>
    @keyframes bp-ball-x {
        from { left: -67px; }
        to   { left: calc(100% - 93px); }
    }
    @keyframes bp-ball-y {
        from { top: -82px; }
        to   { top: 210px; }
    }

    .bp-container {
        width: 100%;
        height: 300px;
    }

    :global(.bp-container>*) {
        position: absolute;
        --time-x: 3s;
        --time-y: 3s;

        animation: bp-ball-x var(--time-x) alternate linear infinite, bp-ball-y var(--time-y) alternate linear infinite;
    }
</style>

<script>
    const bpContainer = document.getElementById("bp-container");

    const minDuration = 2, maxDuration = 3;
    const colors = ["red", "yellow", "blue", "green", "orange", "purple"];
    bpContainer?.querySelectorAll<HTMLElement>(".guy-wrapper").forEach(guy => {
        let guyColor = guy.querySelector(".guy");
        if (guyColor) {
            guyColor.classList.remove("red");
            guyColor.classList.add(colors[Math.floor(Math.random() * colors.length)]);
        }

        guy.style.setProperty("--time-x", `${Math.random() * maxDuration + minDuration}s`);
        guy.style.setProperty("--time-y", `${Math.random() * maxDuration + minDuration}s`);
        if (Math.random() < .5) guy.style.animationDirection = "alternate-reverse";
    });
</script>