---
import Section from "../components/Section.astro";
import SectionsContainer from "../components/SectionsContainer.astro";
import SousTitre from "../components/SousTitre.astro";
import Title from "../components/Title.astro";
import Layout from "../Layout.astro";
---

<Layout>
    <SectionsContainer>
        <Section>
            <Title>Note de synthese</Title>
            <SousTitre>Stage SIO2 - Site web ACE</SousTitre>
            12/01<br>
            <br>
            installation d'un nouveau poste<br>
            recherche sur les sites des concurrents<br>
            prise de connaissance du site existant<br>
            mise en place d'un wp local avec une copie du site exitant<br>
            résolution des problèmes de version sur la copie<br>
            <br>
            <br>
            13/01<br>
            initialisation d'un nouveau git<br>
            mise en place d'un projet astro<br>
            mise en place page admin avec identify<br>
            début de création du site (header)<br>
            mise en place d'un GitHub page : https://rokacahuete.github.io/ACE/<br>
            <br>
            14/01<br>
            action sur le terrain<br>
            prise de photos<br>
            réparation du git niveau images<br>
            travail sur l'en-tête<br>
            <br>
            15/01<br>
            bannière<br>
            section<br>
            services<br>
            <br>
            16/01<br>
            footer<br>
            a propos<br>
            <br>
            19/01<br>
            contact<br>
            footer en bas sur petite page<br>
            recherche référencement<br>
            variables globales pour couleurs<br>
            anim boutons<br>
            scale banner<br>
            <br>
            20/01<br>
            bordures<br>
            header sur pc<br>
            bug centrage bannière avec bordure<br>
            glass effect<br>
            entretien<br>
            <br>
            21/01<br>
            recolore<br>
            rescale<br>
            ajout de photos<br>
            <br>
            22/01<br>
            header pour mobile<br>
            animations de l'header<br>
            fix scale logo<br>
            sections cote cote<br>
            <br>
            23/01<br>
            liens footer<br>
            contact<br>
            <br>
            26/01<br>
            contact formulaire<br>
            fix footer centre<br>
            entretien<br>
            placement elems footer<br>
            placement sections dernière ligne<br>
            home section<br>
            <br>
            27/01<br>
            texte de section en bas<br>
            image de section en haut<br>
            retrait des titres vides dans section<br>
            formulaire contact erreur champ vide<br>
            formulaire contact submit (SMTP)<br>
            <br>
            28/01<br>
            formulire contact (nodemailer)<br>
            style formulaire<br>
            animations formulaire<br>
            <br>
            29/01<br>
            carousel banner<br>
        </Section>
    </SectionsContainer>
</Layout>