---
const { style, class: classlist } = Astro.props;
---

<div class=`section glass centered ${classlist ?? ""}` style={style ?? ""}>
	<slot />
</div>

<style>
    .section {
		padding-top: 20px;
        flex: 1 1 300px;
		height: 100%;
		text-align: left;
        background: linear-gradient(350deg, var(--section-color-1), var(--section-color-2), var(--section-color-1));
    	border: 2px solid var(--border-color);
  		box-sizing: border-box;
    	border-radius: 30px;
    }
</style>