---
const { left, class: classList, id } = Astro.props;
---

<p class=`text ${left ?? ""} ${classList}` id={id ?? ""}>
    <slot />
</p>

<style>
	.text {
  		font-family: "Comic Sans MS", sans-serif;
		margin: 0px 50px 10px 50px;
	}

	.left {
		text-align: left;
	}
</style>