---
import Section from "../components/Section.astro";
import SousTitre from "../components/SousTitre.astro";
import Text from "../components/Text.astro";
import Title from "../components/Title.astro";
---

<Section>
    <Title>A Propos de moi</Title>
    <SousTitre>Qui suis-je ?</SousTitre>
    <Text>
        Bonjour. Je suis Brian.<br>
        Je suis passionné par la programmation, depuis maintenant plusieurs années. J'aime imaginer et structurer des projets qui résolvent de vrais problèmes... ou pas, tant que je peux me chalenger !<br>
        Je vous invite, via ce présent portfolio, à découvrir mon parcours, mon univers, et qui je suis.<br>
    </Text>
</Section>