---
import Guy from "../components/Guy.astro";
import Section from "../components/Section.astro";
---

<Section>
    <div class="bp-container" id="bp-container">
        { Array.from({ length: 100 }).map(() => (<Guy color="red" scale=".2" />)) }
    </div>
</Section>

<style>
    @keyframes bp-ball-x {
        from { left: -67px; }
        to   { left: calc(100% - 93px); }
    }
    @keyframes bp-ball-y {
        from { top: -82px; }
        to   { top: 210px; }
    }

    .bp-container {
        width: 100%;
        height: 300px;
    }

    :global(.bp-container>*) {
        position: absolute;
        --time-x: 3s;
        --time-y: 3s;

        animation: bp-ball-x var(--time-x) alternate linear infinite, bp-ball-y var(--time-y) alternate linear infinite;
    }
</style>

<script>
    const bpContainer = document.getElementById("bp-container");

    const minDuration = 2, maxDuration = 3;
    const colors = ["red", "yellow", "blue", "green", "orange", "purple"];
    bpContainer?.querySelectorAll<HTMLElement>(".guy-wrapper").forEach(guy => {
        let guyColor = guy.querySelector(".guy");
        if (guyColor) {
            guyColor.classList.remove("red");
            guyColor.classList.add(colors[Math.floor(Math.random() * colors.length)]);
        }

        guy.style.setProperty("--time-x", `${Math.random() * maxDuration + minDuration}s`);
        guy.style.setProperty("--time-y", `${Math.random() * maxDuration + minDuration}s`);
        if (Math.random() < .5) guy.style.animationDirection = "alternate-reverse";
    });
</script>