---
import Button from "../components/Button.astro";
import Section from "../components/Section.astro";
import SousTitre from "../components/SousTitre.astro";
import Text from "../components/Text.astro";
import Title from "../components/Title.astro";
---

<Section>
    <div id="internship"></div>
    <Title>Mes stages</Title>
    <div class="dropdown centered">
        <SousTitre>2026 : Stage ACE</SousTitre>
        <Text class="hide" id="2026-stage">
            J'ai entièrement développé et déployé le site internet d'ACE, une PME spécialisée dans le transport logistique.<br><br>
            <Button redirect="https://docs.google.com/document/d/1ObSIAbArOBxSG8I4APFQeS4ebMRGy4zfYXF6-B-Tblo/edit?usp=sharing" target>Note de synthèse</Button>
        </Text>
        <div class="internship-switch-button" data-id="2026-stage">v</div>
    </div>
    <div class="dropdown centered">
        <SousTitre>2023 : Stage</SousTitre>
        <Text class="hide" id="2023-stage">
            Lors de mon premier stage en développement web, j'ai créé les sites internet de deux entreprises avec WordPress.<br><br>
            <Button redirect="https://docs.google.com/document/d/1E21yProK5fjnASgJsChQjR3DEqdmGhPZSlWNoLSiJxY/edit?usp=sharing" target>Note de synthèse</Button>
        </Text>
        <div class="internship-switch-button" data-id="2023-stage">v</div>
    </div>
</Section>

<style>
    .dropdown {
        width: 100%;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .internship-switch-button {
        --flip: 1;
        font-family: 'copyduck', sans-serif;
        font-size: 25px;

        transform: scale(var(--hover, 1)) scaleY(var(--flip));
        
        transition: transform .3s;
    }
    .internship-switch-button:hover {
        --hover: 1.2;
    }
    .internship-switch-button.switched {
        --flip: -1;
    }

    :global(.dropdown .text.hide) {
        max-height: 0px;
        overflow: hidden;
    }

    :global(.dropdown .text) {
        max-height: 300px;
        transition: max-height .3s;
    }
</style>

<script>
    document.querySelectorAll<HTMLElement>(".internship-switch-button").forEach(button => button.onclick = () => {
        document.getElementById(button.dataset.id ?? "")?.classList.toggle("hide");
        button.classList.toggle("switched");
    });
</script>