---
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
---

<Section>
    <div id="veille"></div>
    <Title>Veille</Title>
    Batteries Sodium-Ion
    https://www.sciencedirect.com/science/article/abs/pii/S2352152X25022030
    https://pubs.rsc.org/en/content/articlehtml/2025/ra/d5ra02042E
    https://www.reuters.com/technology/chinese-battery-maker-catl-launches-second-generation-fast-charging-battery-2025-04-21/
    https://www.livescience.com/technology/electric-vehicles/china-puts-a-sodium-ion-battery-into-an-ev-for-the-first-time-it-can-drive-248-miles-on-a-single-charge

    Batteries à Anodes Silicium
    https://nmlett.org/index.php/nml/article/view/1676
    https://ace.ewapub.com/article/view/27924
    https://pubs.acs.org/doi/10.1021/acsmaterialslett.3c00253
    https://www.sciencedirect.com/science/article/abs/pii/S2405829725005811
    https://pubs.rsc.org/pt-br/content/articlehtml/2025/ra/d5ra05126f
    https://www.sciencedirect.com/science/article/abs/pii/S2590116823000851

    Solid-State Batteries (General / EV)
    https://pubs.acs.org/doi/full/10.1021/jacs.5c06058
    https://www.reuters.com/markets/commodities/stellantis-validates-factorial-energy-solid-state-battery-cells-2025-04-24/
    https://www.theverge.com/news/654768/stellantis-solid-state-batteries-charge-speed-temperature-factorial
    https://www.theverge.com/transportation/891310/donut-lab-solid-state-battery-supercapacitor-test-result
    https://www.washingtonpost.com/climate-solutions/2026/01/18/donut-lab-solid-state-battery/
    https://www.techradar.com/vehicle-tech/hybrid-electric-vehicles/chinese-researchers-develop-the-first-semi-solid-state-ev-battery-with-a-massive-620-mile-range-but-questions-remain

    Articles de synthèse & comparatifs multi-technos
    https://pubs.rsc.org/eu/content/articlehtml/2025/su/d5su00127G
</Section>