---
import Background from "./components/Background.astro";
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";

import AwakeIcon from './assets/High-Voltage.png';
import SleepIcon from './assets/Zzz.png';
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Portfolio - Brian</title>
		<link id="dynamic-favicon" rel="icon" type="image/png" href={AwakeIcon.src} data-awake-icon={AwakeIcon.src} data-sleep-icon={SleepIcon.src}>
	</head>
	<body>
		<div class="page centered">
			<Background />
			<header><Header /></header>
			<main class="content"><slot /></main>
			<footer><Footer /></footer>
		</div>
	</body>
</html>

<style>
	/* Colors */
	:global(*) {
		--main-color: rgba(255, 0, 0, 0.438);
		--section-color-1: rgba(255, 123, 0, 0.247);
		--section-color-2:  rgba(230, 40, 40, 0.6);
		--title-color: rgba(255, 0, 0, 0.274);
		--border-color: black;
		color: white;

		box-sizing: border-box;
	}

	:global(.centered) {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}

	:global(.glass) {
        box-shadow : 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter : blur(7px);
        -webkit-backdrop-filter : blur(7px);
	}

	html,
	body {
		overflow-x: hidden;
		height: 100%;
		margin: 0;
	}

	header, main, footer {
		width: 100%;
	}

	.page {
		padding: 8px;
		min-height: calc(100vh - 16px);
		display: flex;
		flex-direction: column;
	}

	.content {
		flex: 1;
	}
</style>

<script>
    const favicon = document.getElementById("dynamic-favicon") as HTMLLinkElement;
	const awakeIcon = favicon.dataset.awakeIcon, sleepIcon = favicon.dataset.sleepIcon;

	function setFavicon(path: string | undefined) {
		if (favicon && path) favicon.href = path;
	}
	setFavicon(awakeIcon);

    document.addEventListener("visibilitychange", () => {
        if (document.hidden) setFavicon(sleepIcon);
        else setTimeout(() => setFavicon(awakeIcon), 2_000);
    });
</script>